@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Source+Sans+Pro:wght@300;400;600&display=swap");

.bg {
    @apply bg-gradient-to-tl from-slate-800 to-slate-700;
}
.bg-gradient-brand {
    @apply text-white shadow shadow-slate-800;
    background: #c64d75 !important;
}

html,
body {
    height: 100%;
    font-family: "Source Sans Pro";
    color: white;
}

body {
    @apply bg-gradient-to-tl from-slate-800 to-slate-700;
}

.text-gradient {
    @apply text-transparent bg-clip-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

.font-mono {
    font-family: "Inconsolata", monospace;
}

.default-p {
    @apply p-4;
}

@screen sm {
    .default-p {
        @apply p-6;
    }
}
@screen md {
    .default-p {
        @apply p-8;
    }
}

.text-gradient {
    @apply text-transparent bg-clip-text;
}

button,
input,
select {
    @apply p-2;
}

.control-button {
    @apply py-3 px-8 font-mono mx-1 shadow shadow-slate-800 bg-slate-700 rounded-md;
}

.option-button {
    @apply h-12 rounded-lg mx-1 my-2 shadow shadow-slate-800 bg-slate-700 lg:text-lg;
    min-width: 3em;
    min-height: 3em;
}

.active {
    @apply text-gray-900 shadow shadow-slate-800 bg-slate-300;
}

.fieldset-container-margin-fix:nth-last-child(1) {
    margin-right: 0;
}
